<!DOCTYPE html>
%html{:lang => "en"}
	%head
		%meta{:charset => "UTF-8"}
		%title Test Button
		%link{:href => "css/style.css", :rel => "stylesheet", :type => "text/css"}
		%link{:href => "https://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet", :type => "text/css"}
	%body
		%button.blue-btn 
			%span.first-text test 
			%span.last-text button
			